.titlebox {
    width: 100%;
    min-height: 280px;
    text-align: center;
    vertical-align: center;
    color: blue;
    margin-bottom: 15px;
    background-image: url("../images/gaming-pattern.png");
  }
  
  
  .titlebox h1 {
    margin-top: 100px;
    font-size: 45px;
  }
  
  .titlebox p {
    font-size: 30px;
  }
  